{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
<section class="post-layout">
    <!-- Right side: Post Content -->
    <div class="post-content">

        <!-- Featured Image -->
        {{#if feature_image}}
        <figure class="image main">
            <img src="{{img_url feature_image size="m"}}" 
                 srcset="{{img_url feature_image size="s"}} 300w,
                         {{img_url feature_image size="m"}} 600w,
                         {{img_url feature_image size="l"}} 900w"
                 sizes="(max-width: 600px) 300px,
                        (max-width: 900px) 600px,
                        900px"
                 alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" 
                 loading="lazy" />
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}

        <!-- Author Info, Blog Date, and Facebook Share -->
        <div class="header-top-row">
            <!-- Author Info -->
            {{#foreach authors}}
            <div class="author-info">
                {{#if profile_image}}
                <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                {{/if}}
                <div class="author-name">{{name}}</div>
                <div class="date">{{date format="MMMM D, YYYY"}}</div>
            </div>
            {{/foreach}}

            <!-- Facebook Share Button -->
            <div class="facebook-share-button-container">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank" class="facebook-share-button">
                    <i class="fab fa-facebook-f"></i> Share on Facebook
                </a>
            </div>
        </div>

        <!-- Post Title -->
        <h1>{{title}}</h1>

        <!-- Blog Content -->
        <div class="content-body">
            {{content}}
        </div>

        {{#if @labs.subscribers}}
        <section class="subscribe-form">
            <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
            <p>Get the latest posts delivered right to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </section>
        {{/if}}

        <footer class="post-footer">
            <div class="facebook-share-button-container">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank" class="facebook-share-button">
                    <i class="fab fa-facebook-f"></i> Share on Facebook
                </a>
            </div>
            <div class="authors">
                {{#foreach authors}}
                <a class="author-box" href="{{url}}">
                    {{#if profile_image}}
                    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                    {{/if}}
                    <section class="author-box-content">
                        <div class="author-box-label">Author</div>
                        <h5 class="author-box-name">{{name}}</h5>
                        {{#if bio}}
                        <p>{{bio}}</p>
                        {{else}}
                        <p>Read more posts by this author.</p>
                        {{/if}}
                    </section>
                </a>
                {{/foreach}}
            </div>
        </footer>

    </div> <!-- End of .post-content -->

</section>
{{/post}}

<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
</script>
